
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @Html.ApplicationName() </title>
    @Styles.Render("~/css")
    @Styles.Render("~/css/jqueryui")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("css", false)

</head>

<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <b>@Html.Resource("app_title")</b>
        </div>
        <div class="login-box-body">
            @RenderBody()
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
