@model ChangePasswordModel

@{
    ViewBag.Title = "Cambiar Contraseña";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<p class="login-box-msg">Utilice el formulario para cambiar la contraseña</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <h4>@Model.Usuario.NombreMostrar (@Model.Usuario.NombreUsuario)</h4>

    <div class="form-group has-feedback">
        @Html.PasswordFor(model => model.OldPassword, new { @class = "form-control", placeholder = "contraseña actual" })
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        @Html.ValidationMessageFor(m => m.OldPassword)
    </div>

    <div class="form-group has-feedback">
        @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "nueva contraseña" })
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        @Html.ValidationMessageFor(m => m.Password)
    </div>
    <div class="form-group has-feedback">
        @Html.PasswordFor(model => model.PasswordConfirm, new {@class = "form-control", placeholder = "confirmar contraseña"})
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        @Html.ValidationMessageFor(m => m.PasswordConfirm)
    </div>
    <div class="row">
        <div class="col-xs-4">
            
        </div>
        <div class="col-xs-8">
            <button type="submit" class="btn btn-primary btn-block btn-flat">
                Cambiar contraseña
            </button>
        </div>
    </div>


}

